.game-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.game-title {
    font-size: 2rem;
    margin-bottom:0px;
}

.game-subtitle {
    max-width:380px !important;
    margin: 0 auto 64px;
}

.game-canvas {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: auto;
  }
  
  .controls {
    margin: 32px 20px ;
    text-align: center;
  }

  .game-controls-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  button {
    margin: 5px;
  }

  .footnote {
    margin-top: auto;
  }
  